
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$primary: #75548b;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$mainfont: 'Maven Pro', sans-serif;
$helveticaNeue: 'Arvo', serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}
