---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="post_data"><i>Published on {{ page.date | date: "%B %e, %Y" }}</i> |
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
    <i class="fas fa-tags"></i> <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
    {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
 </div>

  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>
